body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('../assets/img/background3.jpg'); /* Add your image path here */
    background-size: cover; /* Ensure the background image covers the whole page */
    background-position: -150px center; /* Shift background image to the left by 50px */
    background-attachment: fixed; /* Make the background image fixed when scrolling */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    min-height: 100vh; /* Full viewport height */
}

h1.tagline {
    position: absolute; /* Absolute positioning */
    top: 20px; /* Distance from the top of the page */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for centering */
    margin: 0; /* Remove default margin */
    font-size: 30px; /* Adjust font size */
    color: #b7afaf;
    line-height: 1.5; /* Adjust line height */
}


h2 {
    position: absolute; /* Absolute positioning */
    top: 1px; /* Distance from the top of the page */
    left: 20px; /* Distance from the left of the page */
    font-size: 30px; /* Adjust font size */
    color: #b7afaf;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center buttons horizontally */
    gap: 20px; /* Space between buttons */
}

.button {
    display: inline-block;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    text-decoration: none;
    color: #070707; /* Change text color for better visibility */
    cursor: pointer;
    width: 150px; /* Fixed width for buttons */
    text-align: center; /* Center text in buttons */
}

.sign-up {
    background-color: #5a9abf;
}

.log-in {
    background-color: #5a9abf; /* Slightly different color for distinction */
}
